// dynamically populate content from copy.json data
block variables
- copy = require('app/copy.json')
- pageData = copy.content[page]

// hero video always appears on top
video-component(thumb=pageData.heroThumb, alt=pageData.heroThumbAlt, title=pageData.heroThumbTitle, vimeo=pageData.heroVimeo)

// title and body copy
section.row.no-padding.details.section
	article.col-xs-12.col-md-10.no-padding
		h2= pageData.title
		each par in pageData.details
			p= par

// other content modules
each contentItem in pageData.subcontent
	if contentItem.carousel
		carousel-component.carousel-component.component.section.no-padding(data-snap-ignore="true")
			each carouselItem in contentItem.images
				img(src=carouselItem.url, alt=carouselItem.alt)
	if contentItem.image
		section.image-component.component.section.row.no-padding
			.col-xs-12.no-padding
				img(src= contentItem.imageUrl, alt=contentItem.imageAlt)
	if contentItem.video
		video-component(thumb=contentItem.thumb, alt=contentItem.thumbAlt, title=contentItem.thumbTitle, vimeo=contentItem.vimeo)
