// dynamically populate content from copy.json data
block variables
- page = "moreCases"
- pageData = copy.content[page]

section.col-md-12.no-padding.more-cases
	span.left More Work Stories
	a.red(href="/#/work") View All &gt;
	.clear
	.more-case-wrapper.desktop.cf
		each contentItem in pageData
			article.col-sm-4.col-md-4 
				a(href= contentItem.projectUrl)
					img(src= contentItem.projectThumbSrc)
				p!= contentItem.projectName
				cite 
					.wrapper
						span!= contentItem.writerName
						span!= contentItem.writerTitle
							
				a.red(href= contentItem.projectUrl) Read full article &gt;
	
	.more-case-wrapper.mobile.cf
		carousel-component-center.carousel-component.owl-carousel.no-padding
			each contentItem in pageData
				article.col-md-4
					a(href= contentItem.projectUrl)
						img(src= contentItem.projectThumbSrc)
					p!= contentItem.projectName
					cite 
						.wrapper
							span!= contentItem.writerName
							span!= contentItem.writerTitle
								
					a.red(href= contentItem.projectUrl) Read full article &gt;