block variables
- copy = require('app/copy.js')
- page = "blog"
- pageData = copy.content[page]

section.row.no-padding.culture.blog-posts
  .container
    .row-blog
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      |  &#x9;
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
      .item
        .well
          a(href='/')
            img(src=require('assets/images/blog/allofthelights.png'), alt="alt")
          a(href='/')
            span.blog-title Blog Title
          p.blog-preview 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah 2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah
          a(href='{{postUrl}}').read-moreUrl.full-article-link Read more >
            .page-divide.end-post.col-md-12
            .col-md-12.author-container
              img.pheno-p(src=require('assets/images/blog/pheno-p.png'))
              .blog-author By blogger
                 .position studio manager
                 .big-divide
