block variables
- copy = require('app/copy.js')
- page = "blog"
- pageData = copy.content[page]


//- title and body copy
section.row.no-padding.culture

  blog-header

  blog-post(
    ng-repeat="article in articles"
    preview="{{article.preview}}",
    title="{{article.title}}",
    thumbnail="{{article.thumbnail}}",
    alt="{{article.alt}}",
    blogger="{{article.author}}"
  )


include components/cite-components
